@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); /* googlefonts */
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

html {
  background-color: #d6d8e5;
}

body {
  position: relative;
  font-family: "Fahkwang", "Kosugi", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}
body > div {
  position: relative;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  pointer-events: none;
}

.symBtn {
  background-color: #f2ddc2;
  color: black;
  margin: .25rem;
  padding: .75rem;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  box-shadow: 0 2.5px 5px #d6d8e5a0;
  z-index: 100;
}
.symBtn:hover {
  background-color: #d6d8e5;
}

.backHome {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  box-shadow: 0 2.5px 5px #000000a0;
}

.eventHead {
  width: 100vw;
  overflow: auto;
  background-image: url(../LEIDRAM2024_bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}
.eventHead > [asTable] {
  float: left;
  width: 50%;
  margin: auto 0;
}
img[asTable] {
  aspect-ratio: 18 / 9;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center 25%;
  object-position: center 25%;
}
div[asTable] {
  max-width: 100%;
  padding: 1.5rem;
  text-align: right;
  top: 50%;
}
@media screen and (max-width: 1000px) {
  .eventHead > [asTable] {
    width: 100%;
  }
}

div[evtTitle] {
  margin: 1em 0;
}
div[evtTitle] > * {
  margin: 0 !important;
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* IMPORTANT: responsive fontsize */
@media screen and (max-width: 540px) {
  body { font-size: small; }
}
@media screen and (min-width: 540px) and (max-width: 1080px) {
  body { font-size: normal; }
}
@media screen and (min-width: 1080px) and (max-width: 1620px) {
  body { font-size: large; }
}
@media screen and (min-width: 1620px) and (max-width: 2160px) {
  body { font-size: larger; }
}
@media screen and (min-width: 2160px) and (max-width: 2700px) {
  body { font-size: x-large; }
}
@media screen and (min-width: 2700px) {
  body { font-size: xx-large; }
}