@import url("/emiishion/assets/css/vtuber/core.css");

html { background-color: #fed962; }

header {
  background-color: #fed962;
  color: black;
  box-shadow: 0 3.75px 7.5px #fed962a0;
}
header div .material-symbols-rounded:hover { color: #666; }

.cta {
  background-color: #fed962;
  color: black;
}