@import url("/emiishion/assets/css/vtuber/core.css");

html { background-color: #d6d8e5; }

header {
  background-color: #d6d8e5;
  color: black;
  box-shadow: 0 3.75px 7.5px #d6d8e5a0;
}
header div .material-symbols-rounded:hover { color: #666; }

.cta {
  background-color: #d6d8e5;
  background-image: url('/emiishion/assets/images/vtuber/LeidramCh/bg.png');
  color: black;
}

.socials > * { cursor: pointer; }
.socials > *:hover { color: #666; }