/* for vtuber-specific core css values, see vtuber/core.css */

@import url("/emiishion/assets/css/fonts.css");
@import url("/emiishion/assets/css/responsive.css");

html {
  background-color: teal;
  background-image: url("/emiishion/assets/images/LEIDRAM2024_bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  font-family: "Fahkwang", "Zen Maru Gothic", sans-serif;
  color: white;
}
body * { display: block; }

.alternativeIntro {
  width: 37.5rem;
  max-width: 100%;
  margin: 0 auto !important;
  padding: 15rem 1.5rem;
  text-align: center;
}
.alternativeIntro > div {
  display: -moz-grid !important;
  display: -ms-grid !important;
  display: grid !important;
  grid-template-columns: 50% 50%;
  justify-content: space-around;
  cursor: pointer;
}
.alternativeIntro > div > div {
  text-align: center;
  padding: 0.5rem;
}
.alternativeIntro > div > div * { margin: 0 auto !important; }
.alternativeIntro > div > div:hover { color: #fed962; }

button {
  background-color: teal;
  color: white;
  border: none;
  border-radius: 999px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 0.75em;
  cursor: pointer;
}
button:hover { background-color: rgb(2, 102, 102); }